<section class="my-10 px-12 flex flex-col items-center  gap-5 py-4 sm:gap-10">
    <header class="w-full flex flex-col items-center justify-center">
       <h1 class="uppercase text-white mb-10 text-left text-3xl lg:text-5xl font-bold tracking-wider leading-loose max-w-4xl text-balance">Ubicación</h1>
        <p class=" text-white text-center text-balance text-2xl px-2 mb-10">
            Ubicado en  Ixtapaluca, 
            el Jardín Casa de Piedra es un espacio encantador que combina la elegancia rústica con la belleza natural.
             Este idílico lugar es perfecto para celebraciones memorables, rodeado de exuberantes jardines y estructuras de piedra que parecen contar historias del pasado.
              Situado en Camino Real Manzana 028, Tezonitle.
        </p>
    </header>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.1815760250365!2d-98.8766856!3d19.3179256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce1f612d6a4191%3A0x5a215481fb5b75a8!2sJARDIN%20CASA%20DE%20PIEDRA%20IXTAPALUCA%20%2C%20Jardin%20%2F%20Salon%20de%20eventos%20sociales!5e0!3m2!1sen!2smx!4v1720766802161!5m2!1sen!2smx" 
        class="w-full  rounded-xl shadow-lg"
        width="50%" 
        height="600px" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>